@inject IOptions<BaseEmailSenderOptions> _config
@model AI4Green4Students.Models.Emails.TokenEmailModel

@{
    ViewBag.Subject = $"{@_config.Value.ServiceName} Account Deleted";
}

<p>@Model!.RecipientName,</p>

<p>This email is to inform you that your @_config.Value.ServiceName User Account has now been removed.</p>


