@* This is the email template that is sent to the student when a instructor approves their plan/literature review. *@

@inject IOptions<BaseEmailSenderOptions> _config
@using AI4Green4Students.Constants
@model AI4Green4Students.Models.Emails.AdvanceStageEmailModel

@{
  ViewBag.Subject = $"{_config.Value.ServiceName}: {Model.Item.Type} Approved";
  var recordType = Model.Item.Type == SectionTypes.LiteratureReview ? "Literature Review" : Model.Item.Type;
  ViewBag.Heading = recordType + " Approved";
}

<p>Dear @Model!.Owner,</p>

<p>
  Your
  <b>
    @recordType
    @if (!string.IsNullOrEmpty(Model.Item.Name))
    {
      <span> - @Model.Item.Name</span>
    }
  </b>
  as part of the @Model.Project.Name project has been approved by @Model.Instructor.
</p>

<p>Thank you!</p>

<p>@_config.Value.ServiceName Team</p>
