@inject IOptions<BaseEmailSenderOptions> _config
@model AI4Green4Students.Models.Emails.NotifyStudentOfProjectGroupModel

@{
    ViewBag.Subject = $"{@_config.Value.ServiceName} Notification of Project Group Assignment";
}

<p>@Model!.RecipientName,</p>

<p>You have been assigned to the project group <strong>@Model!.ProjectGroupName</strong> for the project <strong>@Model!.ProjectName</strong>.</p>
